<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <content th:replace="fragments/init :: head"></content>
    <style>
        #not_found_message {
            padding: 11px;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }
    </style>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <content th:replace="fragments/menu-bar :: content"></content>
        <content th:replace="fragments/top-nav :: content"></content>
        <div class="right_col" role="main" style="min-height: 100vh">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Tùy chọn tìm kiếm</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form role="form" th:action="@{/report/daily_result.html}" method="GET">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-12 col-sm-4 col-xs-12">
                                        <label>Từ ngày - đến ngày</label>
                                        <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon"><i
                                            class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                            <input type="text" name="fromDate" id="fromDate" hidden="true" th:value="${fromDate}"/>
                                            <input type="text" name="toDate" id="toDate" hidden="true" th:value="${toDate}"/>
                                            <input type="text" style="width: 100%" name="date_range" id="reservationtime" class="form-control span4"
                                                   value="08/01/2013 - 08/01/2013" th:value="${fromDate} + ' - ' + ${toDate}" readonly="readonly"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-12">
                                        <label>Msisdn</label>
                                        <div>
                                            <input class="form-control" id="msisdn" name="msisdn" type="text" placeholder="msisdn" th:value="${msisdn}">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-xs-12 col-sm-4 col-xs-4">
                                        <label>&nbsp;</label>
                                        <div>
                                            <button type="submit" id="btnSearch" class="btn btn-submit">Tìm kiếm</button>
                                            <button type="button" id="btnAdven" class="btn btn-success"><i class="fa fa-plus-circle"> Mở rộng</i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="advenSearch">
                                    <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-12">
                                        <label>Campaign</label>
                                        <div>
                                            <select class="form-control selectpicker" name="campaignId" id="campaignId">
                                                <option th:each="choice : ${campaigns}"
                                                        th:value="${choice.campaignId}"
                                                        th:text="${choice.campaignName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-xs-12 col-sm-4 col-xs-4">
                                        <label>Product</label>
                                        <div>
                                            <select class="form-control selectpicker" name="productId" id="productId">
                                                <option th:each="choice : ${products}"
                                                        th:value="${choice.productId}"
                                                        th:text="${choice.productName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-xs-12 col-sm-4 col-xs-4">
                                        <label>Message</label>
                                        <div>
                                            <select class="form-control selectpicker" name="msgId" id="msgId">
                                                <option th:each="choice : ${messages}"
                                                        th:value="${choice.msgId}"
                                                        th:text="${choice.msgName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-xs-12 col-sm-4 col-xs-4">
                                        <label>Organization</label>
                                        <div>
                                            <select class="form-control selectpicker" name="orgId" id="orgId">
                                                <option th:each="choice : ${organizations}"
                                                        th:value="${choice.orgId}"
                                                        th:text="${choice.orgName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-danger" id="not_found_message"
                         th:if="${not #strings.isEmpty(not_found_message)}" th:text="${not_found_message}" style="color: white">
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Danh sách</h2>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="x_content">
                            <div style="overflow-x:auto;">
                                <table class="table table-striped table-bordered table-hover dataTable">
                                    <thead>
                                    <tr>
                                        <th>Stt</th>
                                        <th>Date</th>
                                        <th>Isdn</th>
                                        <th>Campaign</th>
                                        <th>Product</th>
                                        <th>Message</th>
                                        <th>Organization</th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="${page.getContent()}!=null">
                                    <tr th:each="one,iterStat :${page}">
                                        <td data-title="Stt">
                                            <span th:text="${iterStat.count}"></span>
                                        </td>
                                        <td data-title="Date" style="min-width: 150px">
                                            <span th:text="${#dates.format(one.campaignDailyResultPK.receiveDatetime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                        </td>
                                        <td data-title="Msisdn">
                                            <span th:text="${one.isdn}"></span>
                                        </td>
                                        <td data-title="Message">
                                            <span th:text="${one.campaignId}"></span>
                                        </td>
                                        <td data-title="Message">
                                            <span th:text="${one.productId}"></span>
                                        </td>
                                        <td data-title="Message">
                                            <span th:text="${one.msgId}"></span>
                                        </td>
                                        <td data-title="Message">
                                            <span th:text="${one.orgId}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <content th:replace="fragments/panigator :: content(page = ${page})"></content>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div id="hidCam" th:text="${campaignId}" hidden="true"></div>
                <div id="hidPro" th:text="${productId}" hidden="true"></div>
                <div id="hidMsg" th:text="${msgId}" hidden="true"></div>
                <div id="hidOrg" th:text="${orgId}" hidden="true"></div>
            </div>
        </div>
    </div>
    <content th:replace="fragments/footer :: content"></content>
</div>
<content th:replace="fragments/init :: script"></content>


<script type="text/javascript">
    $('#reservationtime').daterangepicker({
        "timePicker": true,
        "timePicker24Hour": true,
        "timePickerIncrement": 1,
        "format": 'DD/MM/YYYY HH:mm'
    }, function (start, end, label) {
        $('#fromDate').val(start.format('DD/MM/YYYY HH:mm'));
        $('#toDate').val(end.format('DD/MM/YYYY HH:mm'));
    });
</script>
<script type="text/javascript">
    $('#campaignId').val($('#hidCam').html()).change();
    $('#productId').val($('#hidPro').html()).change();
    $('#msgId').val($('#hidMsg').html()).change();
    $('#orgId').val($('#hidOrg').html()).change();

    $("#not_found_message").hide().fadeIn(0).delay(1000).fadeOut(500);
    $("#advenSearch").hide();
    $("#btnAdven").click(function(){
        $("#advenSearch").toggle();
    });
</script>

</body>

</html>
