<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <content th:replace="fragments/init :: head"></content>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <content th:replace="fragments/menu-bar :: content"></content>
        <content th:replace="fragments/top-nav :: content"></content>
        <div class="right_col" role="main" style="min-height: 100vh">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Tùy chọn tìm kiếm</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form role="form" th:action="@{/report/dashboard.html}" method="POST">
                                <div class="row">
                                    <input hidden="true" value="0" name="type" />
                                    <div class="col-lg-4 col-sm-12 col-sm-4 col-xs-12">
                                        <label>Từ ngày - đến ngày</label>
                                        <div class="input-prepend input-group">
                                            <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                            <input type="text" name="fromDate" id="fromDate" hidden="true" th:value="${fromDate}"/>
                                            <input type="text" name="toDate" id="toDate" hidden="true" th:value="${toDate}"/>
                                            <input type="text" style="width: 100%" name="date_range" id="reservationtime" class="form-control span4"
                                                   value="08/01/2013 - 08/01/2013" th:value="${fromDate} + ' - ' + ${toDate}" readonly="readonly"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-12">
                                        <label>&nbsp;</label>
                                        <div>
                                            <button type="submit" id="btnSearch" class="btn btn-submit">Xem thống kê
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- End form -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel" th:if="${revenueStats}!=null">
                        <div class="x_title">
                            <h2>Doanh Thu Trong Ngày</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Giao dịch</th>
                                    <th>Số tiền</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="eachRecord :${revenueStats}">
                                    <td th:text="${eachRecord.key}"></td>
                                    <td th:text="${eachRecord.value}"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel" th:if="${regDailyStats}!=null">
                        <div class="x_title">
                            <h2>Tổng Đăng Kí Trong Ngày</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table ">
                                <thead>
                                <tr >
                                    <th>Trạng thái</th>
                                    <th>Số lượng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="eachReg :${regDailyStats}">
                                    <td th:text="${eachReg.key}"></td>
                                    <td th:text="${eachReg.value}"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel" th:if="${extendDailyStats} != null">
                        <div class="x_title">
                            <h2>Tổng Gia Hạn Trong Ngày</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table ">
                                <thead>
                                <tr>
                                    <th>Trạng thái</th>
                                    <th>Số lượng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="eachExtend :${extendDailyStats}">
                                    <td th:text="${eachExtend.key}"></td>
                                    <td th:text="${eachExtend.value}"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel" th:if="${extendSuccessStats}!=null">
                        <div class="x_title">
                            <h2>Tổng Gia Hạn Thành Công </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Số lượng</th>
                                    <th>Số tiền</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="eachRow :${extendSuccessStats}">
                                    <td th:text="${eachRow.key}"></td>
                                    <td th:text="${eachRow.value}"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel" th:if="${subsResultStats}!=null">
                        <div class="x_title">
                            <h2>Subscriber</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Trạng thái</th>
                                    <th>Số lượng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr >
                                    <td data-title="Trạng thái" th:text="${subsResultStats.key}"></td>
                                    <td data-title="Số lượng" th:text="${subsResultStats.value}"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <content th:replace="fragments/footer :: content"></content>
</div>
<content th:replace="fragments/init :: script"></content>

<!-- /#wrapper -->

<script th:inline="javascript">
    /*<![CDATA[*/
    var currUrl = /*[[@{/}]]*/ "";
    /*]]>*/
</script>
<script type="text/javascript">
    $('#reservationtime').daterangepicker({
        "timePicker": true,
        "timePicker24Hour": true,
        "timePickerIncrement": 1,
        "format": 'DD/MM/YYYY HH:mm',
        ranges: {
            '1m ago': [moment().subtract(1, 'minutes'), moment().endOf('day')],
            '5m ago': [moment().subtract(5, 'minutes'), moment().endOf('day')],
            '10m ago': [moment().subtract(10, 'minutes'), moment().endOf('day')],
            '30m ago': [moment().subtract(30, 'minutes'), moment().endOf('day')],
            '1h ago': [moment().subtract(1, 'hours'), moment().endOf('day')],
            'Today': [moment().startOf('day'), moment().endOf('day')],
            'Yesterday': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
            'Yesterday (same hour)': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days')],
        }
    }, function (start, end, label) {
        $('#fromDate').val(start.format('DD/MM/YYYY HH:mm'));
        $('#toDate').val(end.format('DD/MM/YYYY HH:mm'));
    });
</script>
</body>

</html>
