<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <content th:replace="fragments/init :: head"></content>
    <style>
        #not_found_message {
            padding: 11px;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }

        .data_text {
            vertical-align: middle;
            text-align: center;
        }
    </style>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <content th:replace="fragments/menu-bar :: content"></content>
        <content th:replace="fragments/top-nav :: content"></content>
        <div class="right_col" role="main" style="min-height: 100vh">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Đối soát chi tiết RatePlus</h2>
<!--                            <h2>RatePlus Details Reconciliation</h2>-->
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form role="form" th:action="@{/report/doisoat_chitiet.html}" method="GET">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-12 col-sm-4 col-xs-12">
                                        <label>Từ ngày - đến ngày</label>
                                        <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon"><i
                                            class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                            <input type="text" name="fromDate" id="fromDate" hidden="true"
                                                   th:value="${fromDate}"/>
                                            <input type="text" name="toDate" id="toDate" hidden="true"
                                                   th:value="${toDate}"/>
                                            <input type="text" style="width: 100%" name="date_range"
                                                   id="reservationtime" class="form-control span4"
                                                   value="08/01/2013 - 08/01/2013"
                                                   th:value="${fromDate} + ' - ' + ${toDate}" readonly="readonly"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-xs-12 col-sm-4 col-xs-4">
<!--                                        <label>Organization</label>-->
                                        <label>Tổ chức</label>
                                        <div>
                                            <select class="form-control selectpicker" name="orgId" id="orgId">
                                                <option value="">Tất cả</option>
                                                <option th:each="choice : ${allOrg}"
                                                        th:value="${choice.orgId}"
                                                        th:text="${choice.orgName}"
                                                        th:selected="${#strings.equals(orgId, #strings.toString(choice.orgId))}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-xs-12 col-sm-4 col-xs-4">
                                        <label>&nbsp;</label>
                                        <div>
                                            <button type="submit" id="btnSearch" class="btn btn-submit">Tìm kiếm
                                            </button>
                                            <button type="button" id="btnExport" class="btn btn-success"
                                                    onclick="tableArrToExcel(['tblTemplate', 'tblResult', 'tblCamp'],
	                                                    ['S1', 'S2'], 'chitiet.xls', 'span', false)">Export
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <table id="tblTemplate" hidden="true">
                <thead>
                <tr>
                    <th data-style="center bold" colspan="6"><span>BÁO CÁO ĐỐI SOÁT DỊCH VỤ CHI TIẾT</span></th>
                </tr>
                <tr>
                    <th data-style="center bold" colspan="6"><span>RATE PLUS - TCTD</span></th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <!--<div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-danger" id="not_found_message"
                         th:if="${not #strings.isEmpty(not_found_message)}" th:text="${not_found_message}" style="color: white">
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Số lượng truy vấn</h2>
                            <div class="clearfix"></div>
                        </div>
                        &lt;!&ndash; /.panel-heading &ndash;&gt;
                        <div class="x_content">
                            <div style="overflow-x:auto;">
                                <table class="table table-striped table-bordered table-hover dataTable" id="tblResult">
                                    <thead>
                                    <tr>
                                        <th class="data_text" data-style="center bold">Stt</th>
                                        <th class="data_text" data-style="center bold">Loại truy vấn</th>
                                        <th class="data_text" data-style="center bold">Đối tác</th>
                                        <th class="data_text" data-style="center bold">Ngày Req</th>
                                        <th class="data_text" data-style="center bold">Req status</th>
                                        <th class="data_text" data-style="center bold">Ngày Res</th>
                                        <th class="data_text" data-style="center bold">Res status</th>
                                        <th class="data_text" data-style="center bold">STB</th>
                                        <th class="data_text" data-style="center bold">Kết quả</th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="${data1}!=null">
                                    <tr class="data_text" th:each="one,iterStat :${data1}">
                                        <td data-title="Stt">
                                            <span th:text="${iterStat.count}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${one.service}"/>
                                        </td>
                                        <td>
                                            <span th:text="${one.orgCode}"/>
                                        </td>
                                        <td>
                                            <span th:text="${one.requestDate}"/>
                                        </td>
                                        <td>
                                            <span th:text="${one.requestStatus}"/>
                                        </td>
                                        <td>
                                            <span th:text="${one.responseDate}"/>
                                        </td>
                                        <td>
                                            <span th:text="${one.responseStatus}"/>
                                        </td>
                                        <td>
                                            <span th:text="${one.isdn}"/>
                                        </td>
                                        <td>
                                            <span th:text="${one.status}"/>
                                        </td>
                                        &lt;!&ndash;<td>
                                            <span th:text="${#dates.format(one.apiRequestLogPK.requestDatetime,'dd/MM/yyyy HH:mm:ss')}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${one.organizationCode}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${one.isdn}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${one.type}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${one.result}"></span>
                                        </td>&ndash;&gt;
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            &lt;!&ndash; /.table-responsive &ndash;&gt;
                        </div>
                        &lt;!&ndash; /.panel-body &ndash;&gt;
                    </div>
                    &lt;!&ndash; /.panel &ndash;&gt;
                </div>
                &lt;!&ndash; /.col-lg-6 &ndash;&gt;
            </div>-->

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-danger" id="not_found_message"
                         th:if="${not #strings.isEmpty(not_found_message)}" th:text="${not_found_message}"
                         style="color: white">
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Số lượng truy vấn</h2>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="x_content">
                            <div style="overflow-x:auto;">
                                <table class="table table-striped table-bordered table-hover dataTable" id="tblResult">
                                    <thead>
                                    <tr>
                                        <th class="data_text" data-style="center bold">STT</th>
                                        <th class="data_text" data-style="center bold">Loại truy vấn</th>
                                        <th class="data_text" data-style="center bold">Đối tác</th>
                                        <th class="data_text" data-style="center bold">Ngày yêu cầu</th>
                                        <th class="data_text" data-style="center bold">Trạng thái yêu cầu</th>
                                        <th class="data_text" data-style="center bold">Ngày phản hồi</th>
                                        <th class="data_text" data-style="center bold">Trạng thái phản hồi</th>
                                        <th class="data_text" data-style="center bold">Số thuê bao</th>
                                        <th class="data_text" data-style="center bold">Kết quả truy vấn</th>
                                        <th class="data_text" data-style="center bold">Nội dung yêu cầu</th>
                                        <th class="data_text" data-style="center bold">Kết quả yêu cầu</th>
                                        <th class="data_text" data-style="center bold">Nội dung phản hồi</th>
                                        <th class="data_text" data-style="center bold">Kết quả phản hồi</th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="${data1}!=null">
                                    <tr class="data_text" th:each="one,iterStat :${data1}">
                                        <td data-title="Stt">
                                            <span th:text="${iterStat.count}"></span>
                                        </td>
                                        <td *ngIf="">
                                            <span th:text="${one.service}"/>
                                        </td>
                                        <td>
                                            <span th:text="${one.orgCode}"/>
                                        </td>
                                        <td>
                                            <span th:text="${one.requestDate}"/>
                                        </td>
                                        <td>
                                            <span th:text="${one.requestStatus}"/>
                                        </td>
                                        <td>
                                            <span th:text="${one.responseDate}"/>
                                        </td>
                                        <td>
                                            <span th:text="${one.responseStatus}"/>
                                        </td>
                                        <td>
                                            <span th:text="${one.isdn}"/>
                                        </td>
                                        <td>
                                            <span th:text="${one.status}"/>
                                        </td>
                                        <td>
                                            <span th:text="${one.reqRequest}"/>
                                        </td>
                                        <td>
                                            <span th:text="${one.reqResponse}"/>
                                        </td>
                                        <td>
                                            <span th:text="${one.resRequest}"/>
                                        </td>
                                        <td>
                                            <span th:text="${one.resResponse}"/>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-danger" id="not_found_message"
                         th:if="${not #strings.isEmpty(not_found_message2)}" th:text="${not_found_message2}"
                         style="color: white">
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Khách hàng tiềm năng</h2>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="x_content">
                            <div style="overflow-x:auto;">
                                <table class="table table-striped table-bordered table-hover dataTable" id="tblCamp">
                                    <thead>
                                    <tr>
                                        <th class="data_text" data-style="center bold">STT</th>
                                        <th class="data_text" data-style="center bold">Ngày</th>
                                        <th class="data_text" data-style="center bold">Đối tác</th>
                                        <th class="data_text" data-style="center bold">Số thuê bao</th>
                                        <th class="data_text" data-style="center bold">Chiến dịch</th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="${data2}!=null">
                                    <tr th:each="one,iterStat :${data2}">
                                        <td class="data_text">
                                            <span th:text="${iterStat.count}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#dates.format(one.receiveDatetime,'dd/MM/yyyy HH:mm:ss')}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${one.orgName}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${one.isdn}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${one.campaignName}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
        </div>
    </div>
    <content th:replace="fragments/footer :: content"></content>
</div>
<content th:replace="fragments/init :: script"></content>


<script type="text/javascript">
    $('#reservationtime').daterangepicker({
        "timePicker": true,
        "timePicker24Hour": true,
        "timePickerIncrement": 1,
        "format": 'DD/MM/YYYY HH:mm'
    }, function (start, end, label) {
        $('#fromDate').val(start.format('DD/MM/YYYY HH:mm'));
        $('#toDate').val(end.format('DD/MM/YYYY HH:mm'));
    });
</script>
<script type="text/javascript">
    $("#not_found_message").hide().fadeIn(0).delay(1000).fadeOut(500);
    $("#advenSearch").hide();
    $("#btnAdven").click(function () {
        $("#advenSearch").toggle();
    });

    $('#tblCamp').dataTable();

    var tbl_result_data = $('#tblResult').dataTable();
    // add by ThanhPV - đang ẩn đi cột thứ 0,1,2
    showHideDataTableColumn(tbl_result_data, [9,10,11,12]);
</script>
<script type="text/javascript">
    //Author: ThanhPV
    // hướng dẫn sử dụng
    // function tableArrToExcel (copy code function và call với param để thực hiện)

    // ---------- Param ----------
    // -- Param bắt buộc phải truyền:
    // - param thứ 1 là list id table : ['table-1', 'table-2'].
    // - param thứ 2 là list name Sheet : ['Thông tin nhân viên']. Không truyền vào tự gen ['sheet 1', 'sheet 2', vvv].
    // * trường hợp chỉ dùng 1 sheet thì truyền vào array có 1 phần tử.
    // param thứ 3 là tên file: TestBook.xls.

    // -- Param không cần có (có hay không cũng được :) :
    // - param thứ 4 là isMultiSheet: nếu truyền vào true thì mỗi table sẽ nằm ở 1 sheet khác nhau,
    // không truyền vào thì mặc định là false.
    // - param thứ 5 là rowSpaceBetWeenTable: khoảng cách row giữa các table trong cùng 1 sheet,
    // không truyền vào mặc định là (2 = truyền vào là 3 :) ).

    // ------------------------------------
    // ----- Tùy chọn Data Option (xem trên table html) -----
    // -- Data: nếu muốn custom data 1 cột trong table(td, th) thì thêm attr: data-value="xxx".
    // lúc này excel sẽ nhận xxx chứ không nhận inner text trong td. (data-value ưu tiên hơn)
    // -- Style: Nếu muốn 1 cột trong table(td, th) là căn giữa thì thêm attr: data-style ="center bold",
    // tương tự hiện tại có các data-style: "bold", "italic", "italic bold", "bold italic",
    // "center bold", "center italic", "center italic bold", "center bold italic".
    // -- Group row và column: nếu hợp dòng (rowspan) thì cột bị sai index của dòng tiếp theo
    // phải thêm attr data-index (xem trên ví dụ cột "vnd ở bảng thưởng").

    // ----- Kiểu dữ liệu khi xuất file: hiện tại có 4 kiểu: Number, DateTime, Boolean, Error, String.
    // dùng attr data-type="Number" để set kiểu, không set thì mặc định là String.

    //End hướng dẫn sử dụng.

    var tableArrToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , tmplWorkbookXML = `<?xml version="1.0"?><?mso-application progid="Excel.Sheet"?>
			<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet">
			<DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
			<Author>Axel Richter</Author><Created>{created}</Created></DocumentProperties>
			<Styles>'
			<Style ss:ID="Default" ss:Name="Normal"></Style>
			<Style ss:ID="Currency"><NumberFormat ss:Format="Currency"></NumberFormat></Style>
			<Style ss:ID="bold"><Font ss:Bold="1"/></Style>
			<Style ss:ID="italic"><Font ss:Italic="1"/></Style>
			<Style ss:ID="bold italic"><Font ss:Italic="1" ss:Bold="1"/></Style>
			<Style ss:ID="italic bold"><Font ss:Italic="1" ss:Bold="1"/></Style>
			<Style ss:ID="center bold"><Font ss:Bold="1"/>
			<Alignment ss:Horizontal="Center" ss:Vertical="Center"/></Style>
			<Style ss:ID="center italic"><Font ss:Italic="1"/>
			<Alignment ss:Horizontal="Center" ss:Vertical="Center"/></Style>
			<Style ss:ID="center bold italic"><Font ss:Italic="1" ss:Bold="1"/>
			<Alignment ss:Horizontal="Center" ss:Vertical="Center"/></Style>
			<Style ss:ID="center italic bold"><Font ss:Italic="1" ss:Bold="1"/>
			<Alignment ss:Horizontal="Center" ss:Vertical="Center"/></Style>
			<Style ss:ID="center date"><NumberFormat ss:Format="Medium Date">
			</NumberFormat></Style>
			+ </Styles>
			+ {worksheets}</Workbook>`
            , tmplWorksheetXML = '<Worksheet ss:Name="{nameWS}"><Table>{rows}</Table></Worksheet>'
            ,
            tmplCellXML = '<Cell{attributeStyleID}{attributeFormula}{merge}><Data ss:Type="{nameType}">{data}</Data></Cell>'
            , DEFAULT_SPACING = 3
            , base64 = function (s) {
                return window.btoa(unescape(encodeURIComponent(s)))
            }
            , format = function (s, c) {
                return s.replace(/{(\w+)}/g, function (m, p) {
                    return c[p];
                })
            }
        return function (table_id_arr, wsnames, wbname, valueSelecter, isMultiSheet, rowSpaceBetWeenTable, appname) {
            var ctx = '';
            var workbookXML = '';
            var worksheetsXML = '';
            var rowsXML = "";
            var tables_length = table_id_arr.length;
            for (var i = 0; i < tables_length; i++) {
                var table_i = table_id_arr[i];
                if (!table_i.nodeType) table_i = document.getElementById(table_i);
                var rows_length = table_i.rows.length;
                for (var j = 0; j < rows_length; j++) {
                    var indexOfNextTable = 0;
                    for (let k = 0; k < i; k++) {
                        indexOfNextTable += (document.getElementById(table_id_arr[k])).rows.length + (rowSpaceBetWeenTable || DEFAULT_SPACING);
                    }
                    rowsXML += '<Row' + ((!isMultiSheet && i > 0 && j == 0) ? (' ss:Index ="' +
                        (indexOfNextTable || '')
                        + '"') : '') + '>';
                    var cells = table_i.rows[j].cells;
                    var cell_length = table_i.rows[j].cells.length;
                    for (var k = 0; k < cell_length; k++) {
                        cell_curr = table_i.rows[j].cells[k];
                        var dataType = cell_curr.getAttribute("data-type");
                        var dataStyle = cell_curr.getAttribute("data-style");
                        var dataValue = cell_curr.getAttribute("data-value") ||
                            (valueSelecter && cell_curr.querySelector(valueSelecter) ? cell_curr.querySelector(valueSelecter).innerHTML : cell_curr.innerHTML);
                        var colspan = cell_curr.getAttribute("colspan");
                        var rowspan = cell_curr.getAttribute("rowspan");
                        var dataFormula = cell_curr.getAttribute("data-formula");
                        var index = cell_curr.getAttribute("data-index") || '';
                        dataFormula = (dataFormula) ? dataFormula : ((appname || 'Excel')
                            == 'Calc' && dataType == 'DateTime') ? dataValue : null;
                        var mergeStr = '';
                        mergeStr += index ? (' ss:Index="' + index + '"') : '';
                        mergeStr += colspan ? (' ss:MergeAcross="' + (colspan - 1) + '"') : '';
                        mergeStr += rowspan ? (' ss:MergeDown="' + (rowspan - 1) + '"') : '';
                        ctx = {
                            attributeStyleID: dataStyle ? ' ss:StyleID="' + dataStyle + '"' : ''
                            , merge: mergeStr
                            , nameType: (
                                dataType === 'Number' || dataType == 'DateTime' ||
                                dataType === 'Boolean' || dataType == 'Error'
                            ) ? dataType : 'String'
                            , data: dataFormula ? '' : dataValue
                            , attributeFormula: (dataFormula) ? ' ss:Formula="' + dataFormula + '"' : ''
                        };
                        rowsXML += format(tmplCellXML, ctx);
                    }
                    rowsXML += '</Row>'
                }
                if (isMultiSheet) {
                    ctx = {rows: rowsXML, nameWS: wsnames[i] || 'Sheet ' + i};
                    worksheetsXML += format(tmplWorksheetXML, ctx);
                    rowsXML = '';
                }
            }
            if (!isMultiSheet) {
                ctx = {rows: rowsXML, nameWS: (wsnames[0] || 'Sheet ' + i)};
                worksheetsXML = format(tmplWorksheetXML, ctx);
                rowsXML = '';
            }
            ctx = {created: (new Date()).getTime(), worksheets: worksheetsXML};
            workbookXML = format(tmplWorkbookXML, ctx);
            var link = document.createElement("A");
            link.href = uri + base64(workbookXML);
            link.download = wbname || 'Workbook.xls';
            link.target = '_blank';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    })();
</script>
</body>

</html>
