<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <content th:replace="fragments/init :: head"></content>
    <style>
        #not_found_message {
            padding: 11px;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }
    </style>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <content th:replace="fragments/menu-bar :: content"></content>
        <content th:replace="fragments/top-nav :: content"></content>
        <div class="right_col" role="main" style="min-height: 100vh">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Tùy chọn tìm kiếm</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form role="form" th:action="@{/product/list.html}" method="GET">
                                <div class="row">
                                    <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-6">
                                        <label>Name</label>
                                        <div>
                                            <input class="form-control" id="strName" name="strName" type="text" th:value="${name}">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-6">
                                        <label>Status</label>
                                        <div>
                                            <select class="form-control selectpicker" name="strStt">
                                                <option value="">Tất cả</option>
                                                <option value="1">Active</option>
                                                <option value="0">InActive</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-6">
                                        <label>&nbsp;</label>
                                        <div>
                                            <button type="submit" id="btnSearch" class="btn btn-primary">Tìm kiếm
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-danger" id="not_found_message"
                         th:if="${not #strings.isEmpty(not_found_message)}" th:text="${not_found_message}" style="color: white">
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Danh sách</h2>
                            <div class="pull-right btn-add-new">
                                <a th:href="@{/product/add.html}" data-toggle="tooltip" title="Thêm Mới"
                                   class=" btn btn-submit "><i class="fa fa-plus"></i>Thêm Mới</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="x_content">
                            <div style="overflow-x:auto;">
                                <table class="table table-striped table-bordered table-hover dataTable">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="${page.getContent()}!=null">
                                    <tr th:each="one, iterStat : ${page}">
                                        <td data-title="Stt" th:text="${iterStat.count}"></td>
                                        <td th:text="${one.productName}"></td>
                                        <td th:text="${one.productDescription}"></td>
                                        <td th:if="${one.productStatus eq '1'}"><button class="btn btn-success">Active</button></td>
                                        <td th:if="${one.productStatus eq '0'}"><button class="btn btn-danger">InActive</button></td>
                                        <td class="text-center" data-title="Sửa">
                                            <a th:href="@{/product/{id}/update.html(id=${one.productId})}"
                                               data-toggle="tooltip" title="Chỉnh Sửa">
                                                <button class="btn btn-info btn-circle"><i class="fa fa-edit"></i>
                                                </button>
                                            </a>
                                        </td>
                                        <td class="text-center" data-title="Xóa">
                                            <a data-toggle="tooltip" title="Xóa Bỏ" type="button" class="btn btn-warning btn-circle"
                                               th:onclick="'deleteConfirm(\'' +${one.productName}+ '\','+${one.productId}+');'"><i
                                                    class="glyphicon glyphicon-trash"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <content th:replace="fragments/panigator :: content(page = ${page})"></content>

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
        </div>
    </div>
    <content th:replace="fragments/footer :: content"></content>
</div>
<content th:replace="fragments/init :: script"></content>


<script type="text/javascript">
    $('#reservationtime').daterangepicker({
        "timePicker": true,
        "timePicker24Hour": true,
        "timePickerIncrement": 1,
        "format": 'DD/MM/YYYY HH:mm'
    }, function (start, end, label) {
        $('#fromDate').val(start.format('DD/MM/YYYY HH:mm'));
        $('#toDate').val(end.format('DD/MM/YYYY HH:mm'));
    });

    $("#not_found_message").hide().fadeIn(0).delay(1000).fadeOut(500);

    function deleteConfirm(name,id) {
        BootstrapDialog.show({
            title: 'Xác Nhận xóa tin nhắn',
            message: 'Bạn có chắc chắn muốn xóa sản phẩm ' + name + ' không ? Bấm Delete để xác nhận.',
            buttons: [{
                label: 'Bỏ qua',
                action: function (dialogItself) {
                    dialogItself.close();
                }
            }, {
                label: 'Delete',
                cssClass: 'btn-primary',
                action: function (dialogItself) {
                    $.ajax({
                        type: 'GET',
                        url: './delete.json',
                        dataType: "json",
                        data: {id: id},
                        success: function (msg) {
                            dialogItself.close();
                        },
                        error: function (request, status, error) {
                            console.log(error);
                        }
                    });
                }
            }]
        });
    }
</script>

</body>

</html>
