<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Organization</title>
    <content th:replace="fragments/init :: head"></content>
    <style>
        #errorMessage {
            padding: 11px;
        }

        .btn-submit-form {
            margin-left: 35.5%;
        }
    </style>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <content th:replace="fragments/menu-bar :: content"></content>
        <content th:replace="fragments/top-nav :: content"></content>
        <div class="right_col" role="main" style="min-height: 100vh">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Thêm mới tổ chức </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form th:action="@{/organization/add.html}" method="POST">
                                <div class="col-lg-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <div>
                                            <input class="form-control" type="text"  name="strName" required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Code</label>
                                        <div>
                                            <input class="form-control" type="text" id="strCode" name="strCode" required/>
                                            <span style="color: red" id="checkCode" hidden="true"><i class="fa fa-exclamation-triangle"></i>Code đã tồn tại!!!</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <div>
                                            <input class="form-control" type="text"  name="strAdd"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <div>
                                            <input class="form-control" type="text"  name="strPhone"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Tax No</label>
                                        <div>
                                            <input class="form-control" type="text"  name="strTax"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <div>
                                            <input class="form-control" type="text"  name="strDes"/>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <label>Sản phẩm</label>
                                        <div>
                                            <select class="form-control selectpicker" name="lstProducts" multiple="multiple">
                                                <option th:each="choice : ${products}"
                                                        th:value="${choice.id}"
                                                        th:text="${choice.name}"></option>
                                            </select>
                                        </div>
                                    </div>-->
                                    <div class="form-group">
                                        <label>Ip list</label>
                                        <div>
                                            <input type="text" name="ipList" id="ipList" class="form-control" required/>
                                            <span style="color: red" id="checkIP" hidden="true"><i class="fa fa-exclamation-triangle"></i>Ip invalid!!!</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Expired Date</label>
                                        <div>
                                            <input type="text" name="expiredDate" id="expiredDate" th:value="${expriredDate}" class="form-control datepicker" required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Dịch vụ</label>
                                        <div>
                                            <select class="form-control selectpicker" name="strService" multiple="multiple" required>
                                                <option th:each="choice : ${services}"
                                                        th:value="${choice.serviceId}"
                                                        th:text="${choice.serviceName}"
                                                        ></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Type</label>
                                        <div>
                                            <select class="form-control selectpicker" name="orgType">
                                                <option value="1">FI</option>
                                                <option value="2">Telco</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Status</label>
                                        <div>
                                            <select class="form-control selectpicker" name="strStt">
                                                <option value="1">Active</option>
                                                <option value="0">InActive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 btn-submit-form">
                                    <button type="submit" class="btn btn-info" id="btnAdd">Thêm mới</button>
                                    <a th:href="@{/organization/list.html}" class="btn btn-warning">Bỏ qua</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.col-lg-6 -->
        </div>
    </div>
    <content th:replace="fragments/footer :: content"></content>
</div>
<content th:replace="fragments/init :: script"></content>

<script type="text/javascript">
    $('#expiredDate').datetimepicker();
    $("#strCode").change(function(){
        code = this.value;
        $.ajax({
            type: 'GET',
            url: './check_code.json',
            dataType: "json",
            data: {code: code},
            success: function (msg) {
                if(msg == 'OK') {
                    $("#btnAdd").prop('disabled', false);
                    $("#checkCode").hide();
                } else {
                    $("#btnAdd").prop('disabled', true);
                    $("#checkCode").show();
                }

            },
            error: function (request, status, error) {
                $("#btnAdd").prop('disabled', false);
            }
        });
    });

    function isValidIP(str) {
        const octet = '(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]?|0)';
        const regex = new RegExp(`^${octet}\\.${octet}\\.${octet}\\.${octet}$`);
        let ips = str.split(",");
        let check = true;
        ips.forEach(function (item, index) {
            check = regex.test(item.trim());
        });
        return check;
    }

    $('#ipList').on('change', function () {
        if(isValidIP($('#ipList').val())) {
            $("#checkIP").hide();
        } else {
            $("#checkIP").show();
        }
    });
</script>
</body>

</html>
