<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Organization</title>
    <content th:replace="fragments/init :: head"></content>
    <style>
        #errorMessage {
            padding: 11px;
        }
        #not_found_message {
            padding: 11px;
            margin-bottom: 0px;
            margin-top: 15px;
        }
        #resultMessage {
            padding: 11px;
            margin-bottom: 0px;
            margin-top: 15px;
        }
        .btn-submit-form {
            margin-left: 35.5%;
        }
        .bootstrap-select.form-control:not([class*=col-]) {
            width: 50% !important;
        }
    </style>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <content th:replace="fragments/menu-bar :: content"></content>
        <content th:replace="fragments/top-nav :: content"></content>
        <div class="right_col" role="main" style="min-height: 100vh">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Thêm sử dụng dịch vụ cho tổ chức <span th:text="${rp.orgName}"></span> </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form th:action="@{/organization/add_service_price.html}" method="POST">
                                <input type="text" th:value="${rp.orgId}" hidden="true" name="id">
                                <div class="col-lg-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Service</label>
                                        <div>
                                            <select class="form-control selectpicker" name="serviceId" >
                                                <option th:each="choice : ${services}"
                                                        th:value="${choice.serviceId}"
                                                        th:text="${choice.serviceName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Start Date</label>
                                        <div>
                                            <input type="text" name="startDate" id="startDate" th:value="${startDate}" class="form-control datepicker" style="width: 50%"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>End Date</label>
                                        <div>
                                            <input type="text" name="endDate" id="endDate" th:value="${endDate}" class="form-control datepicker" style="width: 50%"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Price</label>
                                        <div>
                                            <input type="text" name="price" id="price" th:value="${price}" class="form-control" style="width: 50%"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Regex</label>
                                        <div>
                                            <input type="text" name="regex" id="regex" th:value="${regex}" class="form-control" style="width: 50%"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Status</label>
                                        <div>
                                            <select class="form-control selectpicker" name="strStt">
                                                <option value="1">Active</option>
                                                <option value="0">InActive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 btn-submit-form">
                                    <button type="submit" class="btn btn-info" id="btnAdd">Thêm mới</button>
                                    <a th:href="@{/organization/list.html}" class="btn btn-warning">Bỏ qua</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-warning" id="resultMessage"
                         th:if="${not #strings.isEmpty(result_message)}" th:text="${result_message}" style="color: white">
                    </div>
                    <div class="alert alert-danger" id="not_found_message"
                         th:if="${not #strings.isEmpty(not_found_message)}" th:text="${not_found_message}" style="color: white">
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Danh sách dịch vụ của tổ chức <span th:text="${rp.orgName}"></span></h2>
                            <div class="pull-right btn-add-new">
                                <a class="btn btn-submit" id="btnRefresh"><i class="fa fa-refresh"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="x_content">
                            <div style="overflow-x:auto;">
                                <table class="table table-striped table-bordered table-hover dataTable">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Price</th>
                                        <th>Regex</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="${page.getContent()}!=null">
                                    <tr th:each="one, iterStat : ${page}">
                                        <td data-title="Stt" th:text="${iterStat.count}"></td>
                                        <td th:text="${one.serviceName}"></td>
                                        <td th:text="${#calendars.format(one.startDatetime,'yyyy/MM/dd HH:mm:ss')}"></td>
                                        <td th:text="${#calendars.format(one.endDatetime,'yyyy/MM/dd HH:mm:ss')}"></td>
                                        <td th:text="${#numbers.formatDecimal(one.price, 0, 'COMMA', 0, 'POINT')}"></td>
                                        <td th:text="${one.regex}"></td>
                                        <td th:if="${one.priceStatus eq '1'}"><button class="btn btn-success">Active</button></td>
                                        <td th:if="${one.priceStatus eq '0'}"><button class="btn btn-danger">InActive</button></td>
                                        <td class="text-center" data-title="Xóa">
                                            <a data-toggle="tooltip" title="Xóa Bỏ" type="button" class="btn btn-warning btn-circle"
                                               th:onclick="'deleteConfirm(\'' +${one.serviceName}+ '\','+${one.priceId}+');'"><i
                                                    class="glyphicon glyphicon-trash"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <content th:replace="fragments/panigator :: content(page = ${page})"></content>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
        </div>
    </div>
    <content th:replace="fragments/footer :: content"></content>
</div>
<content th:replace="fragments/init :: script"></content>

<script type="text/javascript">
    $("#resultMessage").hide().fadeIn(0).delay(10000).fadeOut(500);
    $("#not_found_message").hide().fadeIn(0).delay(1000).fadeOut(500);
    $(function () {
        $('#startDate').datetimepicker();
        $('#endDate').datetimepicker();
    });

    $('#btnRefresh').on('click', function () {
        window.location.reload();
    });
    function deleteConfirm(name,id) {
        BootstrapDialog.show({
            title: 'Xác Nhận xóa sử dụng dịch vụ',
            message: 'Bạn có chắc chắn muốn xóa dịch vụ ' + name + ' không ? Bấm Delete để xác nhận.',
            buttons: [{
                label: 'Bỏ qua',
                action: function (dialogItself) {
                    dialogItself.close();
                }
            }, {
                label: 'Delete',
                cssClass: 'btn-primary',
                action: function (dialogItself) {
                    $.ajax({
                        type: 'GET',
                        url: '../delete_service.json',
                        dataType: "json",
                        data: {id: id},
                        success: function (msg) {
                            dialogItself.close();
                            location.reload();
                        },
                        error: function (request, status, error) {
                            console.log(error);
                        }
                    });
                }
            }]
        });
    }
</script>
</body>

</html>
