<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Organization</title>
    <content th:replace="fragments/init :: head"></content>
    <style>
        #errorMessage {
            padding: 11px;
        }

        .btn-submit-form {
            margin-left: 35.5%;
        }
    </style>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <content th:replace="fragments/menu-bar :: content"></content>
        <content th:replace="fragments/top-nav :: content"></content>
        <div class="right_col" role="main" style="min-height: 100vh">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Chi tiết tổ chức </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form th:action="@{/organization/update.html}" method="POST">
                                <div class="col-lg-6 col-xs-12">
                                    <input name="hidId" hidden="true" th:value="${id}"/>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <div>
                                            <input class="form-control" type="text"  name="strName" th:value="${rp.orgName}" required readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Code</label>
                                        <div>
                                            <input class="form-control" type="text" id="strCode" name="strCode" th:value="${rp.orgCode}" required readonly/>
                                            <span style="color: red" id="checkCode" hidden="true"><i class="fa fa-exclamation-triangle"></i>Code đã tồn tại!!!</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <div>
                                            <input class="form-control" type="text"  name="strAdd" th:value="${rp.orgAddress}" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <div>
                                            <input class="form-control" type="text"  name="strPhone" th:value="${rp.orgPhone}" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Tax No</label>
                                        <div>
                                            <input class="form-control" type="text"  name="strTax" th:value="${rp.orgTaxNo}" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <div>
                                            <input class="form-control" type="text"  name="strDes" th:value="${rp.orgDescription}" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Sản phẩm</label>
                                        <div>
                                            <input class="form-control" type="text"  name="proName" th:value="${proName}" readonly/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 btn-submit-form">
                                    <a th:href="@{/organization/list.html}" class="btn btn-warning">Bỏ qua</a>
                                    <a th:href="@{/product/add.html(orgId=${rp.orgId})}" title="Thêm sản phẩm" class="btn btn-primary">Thêm SP</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.col-lg-6 -->
        </div>
    </div>
    <content th:replace="fragments/footer :: content"></content>
</div>
<content th:replace="fragments/init :: script"></content>

<script type="text/javascript">
    $("#strCode").change(function(){
        code = this.value;
        $.ajax({
            type: 'GET',
            url: './check_code.json',
            dataType: "json",
            data: {code: code},
            success: function (msg) {
                if(msg == 'OK') {
                    $("#btnAdd").prop('disabled', false);
                    $("#checkCode").hide();
                } else {
                    $("#btnAdd").prop('disabled', true);
                    $("#checkCode").show();
                }

            },
            error: function (request, status, error) {
                $("#btnAdd").prop('disabled', false);
            }
        });
    });
</script>
</body>

</html>
