<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <content th:replace="fragments/init :: head"></content>
    <title>Thread</title>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <content th:replace="fragments/menu-bar :: content"></content>
        <content th:replace="fragments/top-nav :: content"></content>
        <div class="right_col" role="main" style="min-height: 100vh">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="page-header">Danh sách tiến trình: chế độ <span th:text=" ${haMode}" style="color: red;"> MASTER</span></h4>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Tùy chọn tìm kiếm</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form role="form" th:object=${threadSearch} th:action="@{/thread/list.html}" method="POST">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>Tiến trình</label>
                                        <div>
                                            <input class="form-control" name="displayName" placeholder="Id or Name" th:value="*{displayName}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label>&nbsp;</label>
                                        <div>
                                            <button type="submit" id="btnSearch" class="btn btn-primary">Lọc hiển thị</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel" th:if="${threads} != null">
                        <div class="x_title">
                            Danh sách tiến trình đang quản lý
                            <div class="btn-group pull-right">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="x_content">
                            <div>
                                <table class="table table-responsive table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Stt</th>
                                        <th>Thread ID/Name</th>
                                        <th>State</th>
                                        <th>Info</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="oneThread, iterStat : ${threads}">
                                        <td data-title="Stt">
                                            <a href="#" th:href="@{/thread/list.html}" th:text="${iterStat.count}">1</a>
                                        </td>
                                        <td data-title="Thread ID/Name">
                                            <h4 th:text="${oneThread.id}">ID</h4>
                                            <p th:text="${oneThread.name}">Name</p>
                                        </td>
                                        <td data-title="State">
                                            <span class="btn btn-success" th:if="${oneThread.status} == true" th:text="Running">Running</span>
                                            <span class="btn btn-warning" th:if="${oneThread.status} == false" th:text="Stopped">Stopped</span>
                                        </td>
                                        <td data-title="Info" th:switch="${#strings.toString(oneThread.state)}">
                                            <span th:case="0" class="btn btn-info">Normal</span>
                                            <span th:case="1" class="btn btn-info">Info</span>
                                            <span th:case="2" class="btn btn-warning">Warn</span>
                                            <span th:case="3" class="btn btn-danger">Error</span>
                                            <span th:case="4" class="btn btn-success">Idle</span>
                                        </td>

                                        <td data-title="Action">
                                             <a type="button" class="btn btn-danger" th:if="${oneThread.status} == true" href="#"
                                                    th:href="@{/thread/{id}/stop.html(id=${oneThread.id})}"><i class="fa fa-power-off"></i> Stop</a>
                                            <a type="button" class="btn btn-primary" th:if="${oneThread.status} == false" href="#"
                                               th:href="@{/thread/{id}/start.html(id=${oneThread.id})}"><i class="fa fa-power-off"></i> Start</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
        </div>
    </div>
    <content th:replace="fragments/footer :: content"></content>
</div>
<content th:replace="fragments/init :: script"></content>
<script>
    function updateStatus() {
        $('#btnRefresh')[0].click();
    }

    setInterval(updateStatus, 60000);
    //
    $("#switch-state").bootstrapSwitch();
</script>

</body>

</html>
