<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <content th:replace="fragments/init :: head"></content>
    <style>
        #not_found_message {
            padding: 11px;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }

        .data_text {
            vertical-align : middle;
            text-align:center;
        }
    </style>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <content th:replace="fragments/menu-bar :: content"></content>
        <content th:replace="fragments/top-nav :: content"></content>
        <div class="right_col" role="main" style="min-height: 100vh">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Đối soát tổng hợp MBF</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form role="form" th:action="@{/report/mbf/doisoat_tonghop.html}" method="GET">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-12 col-sm-4 col-xs-12">
                                        <label>Từ ngày - đến ngày</label>
                                        <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon"><i
                                            class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                            <input type="text" name="fromDate" id="fromDate" hidden="true" th:value="${fromDate}"/>
                                            <input type="text" name="toDate" id="toDate" hidden="true" th:value="${toDate}"/>
                                            <input type="text" style="width: 100%" name="date_range" id="reservationtime" class="form-control span4"
                                                   value="08/01/2013 - 08/01/2013" th:value="${fromDate} + ' - ' + ${toDate}" readonly="readonly"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-xs-12 col-sm-4 col-xs-4">
                                        <label>&nbsp;</label>
                                        <div>
                                            <button type="submit" id="btnSearch" class="btn btn-submit">Tìm kiếm</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-danger" id="not_found_message"
                         th:if="${not #strings.isEmpty(not_found_message)}" th:text="${not_found_message}" style="color: white">
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Số lượng truy vấn</h2>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="x_content">
                            <div style="overflow-x:auto;">
                                <table class="table table-striped table-bordered table-hover dataTable" id="tblDetail">
                                    <thead>
                                    <tr>
                                        <th rowspan="2" style="vertical-align : middle;text-align:center;">Ngày</th>
                                        <th rowspan="2" style="vertical-align : middle;text-align:center;">TCTD</th>
                                        <th colspan="3" class="data_text">Truy vấn điểm</th>
                                        <th colspan="3" class="data_text">Xác minh thông tin</th>
                                        <th rowspan="2" style="vertical-align : middle;text-align:center;">Tổng doanh thu</th>
                                        <th rowspan="2" style="vertical-align : middle;text-align:center;">Doanh thu MBF</th>
                                    </tr>
                                    <tr>
                                        <th class="data_text">Số lượng</th>
                                        <th class="data_text">Đơn giá</th>
                                        <th class="data_text">Doanh thu</th>
                                        <th class="data_text">Số lượng</th>
                                        <th class="data_text">Đơn giá</th>
                                        <th class="data_text">Doanh thu</th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="${data1}!=null">
                                    <tr th:each="one,iterStat :${data1}">
                                        <td style="vertical-align: middle;text-align:center;">
                                            <span th:text="${#dates.format(one.dateReport,'dd/MM/yyyy')}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${one.tctd}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#numbers.formatDecimal(one.pointAmount, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#numbers.formatDecimal(one.pointPrice, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#numbers.formatDecimal(one.pointRevenue, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#numbers.formatDecimal(one.infoAmount, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#numbers.formatDecimal(one.infoPrice, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#numbers.formatDecimal(one.infoRevenue, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#numbers.formatDecimal(one.revenue, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#numbers.formatDecimal(one.revenueMF, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!--<content th:replace="fragments/panigator :: content(page = ${page})"></content>-->

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-danger" id="not_found_message"
                         th:if="${not #strings.isEmpty(not_found_message)}" th:text="${not_found_message}" style="color: white">
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Khoản vay thành công</h2>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="x_content">
                            <div style="overflow-x:auto;">
                                <table class="table table-striped table-bordered table-hover dataTable" id="tblDebt">
                                    <thead>
                                    <tr>
                                        <th class="data_text">Ngày</th>
                                        <th class="data_text">TCTD</th>
                                        <th class="data_text">Tổng khoản vay thành công</th>
                                        <th class="data_text">Tỉ lệ (%)</th>
                                        <th class="data_text">Tổng doanh thu</th>
                                        <th class="data_text">Doanh thu MBF</th>
                                    </tr>

                                    </thead>
                                    <tbody th:if="${data2}!=null">
                                    <tr th:each="one,iterStat :${data2}" class="data_text">
                                        <td style="vertical-align: middle;text-align:center;">
                                            <span th:text="${#dates.format(one.dateReport,'dd/MM/yyyy')}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${one.tctd}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${#numbers.formatDecimal(one.debt, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${#numbers.formatDecimal(one.percent, 1, 'COMMA', 2, 'POINT')}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${#numbers.formatDecimal(one.revenue, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${#numbers.formatDecimal(one.revenueMF, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!--<content th:replace="fragments/panigator :: content(page = ${page})"></content>-->

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-danger" id="not_found_message"
                         th:if="${not #strings.isEmpty(not_found_message)}" th:text="${not_found_message}" style="color: white">
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Campaign</h2>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="x_content">
                            <div style="overflow-x:auto;">
                                <table class="table table-striped table-bordered table-hover dataTable">
                                    <thead>
                                    <tr>
                                        <th class="data_text">Stt</th>
                                        <th class="data_text">Ngày</th>
                                        <th class="data_text">SLTB</th>
                                        <th class="data_text">SL SMS gửi</th>
                                        <th class="data_text">SL SMS phản hồi đồng ý</th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="${data3}!=null">
                                    <tr th:each="one,iterStat :${data3}">
                                        <td class="data_text">
                                            <span th:text="${iterStat.count}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#dates.format(one.dateReport,'dd/MM/yyyy')}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#numbers.formatDecimal(one.sltb, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#numbers.formatDecimal(one.mt, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#numbers.formatDecimal(one.mo, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
        </div>
    </div>
    <content th:replace="fragments/footer :: content"></content>
</div>
<content th:replace="fragments/init :: script"></content>

<script th:inline="javascript">
    /*<![CDATA[*/
    var data = [];
    //Created By: Brij Mohan
    //Website: http://techbrij.com
    function groupTable($rows, startIndex, total) {
        if (total === 0) {
            return;
        }
        var i, currentIndex = startIndex, count = 1, lst = [];
        var tds = $rows.find('td:eq(' + currentIndex + ')');
        var ctrl = $(tds[0]);
        lst.push($rows[0]);
        for (i = 1; i <= tds.length; i++) {
            if (ctrl.text() == $(tds[i]).text()) {
                count++;
                $(tds[i]).addClass('deleted');
                lst.push($rows[i]);
            } else {
                if (count > 1) {
                    ctrl.attr('rowspan', count);
                    groupTable($(lst), startIndex + 1, total - 1)
                }
                count = 1;
                lst = [];
                ctrl = $(tds[i]);
                lst.push($rows[i]);
            }
        }
    }
    /*]]>*/
</script>
<script type="text/javascript">
    $('#reservationtime').daterangepicker({
        "timePicker": true,
        "timePicker24Hour": true,
        "timePickerIncrement": 1,
        "format": 'DD/MM/YYYY HH:mm'
    }, function (start, end, label) {
        $('#fromDate').val(start.format('DD/MM/YYYY HH:mm'));
        $('#toDate').val(end.format('DD/MM/YYYY HH:mm'));
    });
</script>
<script type="text/javascript">
    $("#not_found_message").hide().fadeIn(0).delay(1000).fadeOut(500);
    $("#advenSearch").hide();
    $("#btnAdven").click(function(){
        $("#advenSearch").toggle();
    });
</script>
<script>
    $(document).ready(
        function() {
            groupTable($('#tblDetail tr:has(td)'),0,1);
            $('#tblDetail .deleted').remove();

            groupTable($('#tblDebt tr:has(td)'),0,1);
            $('#tblDebt .deleted').remove();
        });
</script>

</body>

</html>
