<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <content th:replace="fragments/init :: head"></content>
    <style>
        #not_found_message {
            padding: 11px;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }
        .data_text {
            vertical-align : middle;
            text-align:center;
        }
    </style>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <content th:replace="fragments/menu-bar :: content"></content>
        <content th:replace="fragments/top-nav :: content"></content>
        <div class="right_col" role="main" style="min-height: 100vh">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Đối soát chi tiết MBF</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form role="form" th:action="@{/report/mbf/doisoat_chitiet.html}" method="GET">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-12 col-sm-4 col-xs-12">
                                        <label>Từ ngày - đến ngày</label>
                                        <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon"><i
                                            class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                            <input type="text" name="fromDate" id="fromDate" hidden="true" th:value="${fromDate}"/>
                                            <input type="text" name="toDate" id="toDate" hidden="true" th:value="${toDate}"/>
                                            <input type="text" style="width: 100%" name="date_range" id="reservationtime" class="form-control span4"
                                                   value="08/01/2013 - 08/01/2013" th:value="${fromDate} + ' - ' + ${toDate}" readonly="readonly"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-xs-12 col-sm-4 col-xs-4">
                                        <label>&nbsp;</label>
                                        <div>
                                            <button type="submit" id="btnSearch" class="btn btn-submit">Tìm kiếm</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-danger" id="not_found_message"
                         th:if="${not #strings.isEmpty(not_found_message)}" th:text="${not_found_message}" style="color: white">
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Số lượng truy vấn</h2>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="x_content">
                            <div style="overflow-x:auto;">
                                <table class="table table-striped table-bordered table-hover dataTable">
                                    <thead>
                                    <tr>
                                        <th class="data_text">Stt</th>
                                        <th class="data_text">Ngày</th>
                                        <th class="data_text">TCTD</th>
                                        <th class="data_text">STB</th>
                                        <th class="data_text">Loại truy vấn</th>
                                        <th class="data_text">Doanh thu</th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="${page1.getContent()}!=null">
                                    <tr class="data_text" th:each="one,iterStat :${page1}">
                                        <td data-title="Stt">
                                            <span th:text="${iterStat.count}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${#dates.format(one.dateReport,'dd/MM/yyyy')}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${one.tctd}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${one.stb}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${one.type}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${#numbers.formatDecimal(one.revenue, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <content th:replace="fragments/panigator :: content(page = ${page1})"></content>

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-danger" id="not_found_message"
                         th:if="${not #strings.isEmpty(not_found_message)}" th:text="${not_found_message}" style="color: white">
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Khoản vay thành công</h2>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="x_content">
                            <div style="overflow-x:auto;">
                                <table class="table table-striped table-bordered table-hover dataTable">
                                    <thead>
                                    <tr>
                                        <th class="data_text">Stt</th>
                                        <th class="data_text">Ngày</th>
                                        <th class="data_text">TCTD</th>
                                        <th class="data_text">STB</th>
                                        <th class="data_text">Khoản vay</th>
                                        <th class="data_text">Tỉ lệ(%)</th>
                                        <th class="data_text">Doanh thu</th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="${data2}!=null">
                                    <tr th:each="one,iterStat :${data2}">
                                        <td class="data_text">
                                            <span th:text="${iterStat.count}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#dates.format(one.dateReport,'dd/MM/yyyy')}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${one.tctd}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${one.stb}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#numbers.formatDecimal(one.amount, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#numbers.formatDecimal(one.percent, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#numbers.formatDecimal(one.revenue, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-danger" id="not_found_message"
                         th:if="${not #strings.isEmpty(not_found_message)}" th:text="${not_found_message}" style="color: white">
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Campaign</h2>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="x_content">
                            <div style="overflow-x:auto;">
                                <table class="table table-striped table-bordered table-hover dataTable">
                                    <thead>
                                    <tr>
                                        <th class="data_text">Stt</th>
                                        <th class="data_text">Ngày</th>
                                        <th class="data_text">Campaign ID</th>
                                        <th class="data_text">SLTB</th>
                                        <th class="data_text">SL SMS gửi</th>
                                        <th class="data_text">SL SMS phản hồi đồng ý</th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="${data3}!=null">
                                    <tr th:each="one,iterStat :${data3}">
                                        <td class="data_text">
                                            <span th:text="${iterStat.count}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#dates.format(one.dateReport,'dd/MM/yyyy')}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${one.campId}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#numbers.formatDecimal(one.sltb, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#numbers.formatDecimal(one.mt, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                        <td class="data_text">
                                            <span th:text="${#numbers.formatDecimal(one.mo, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
        </div>
    </div>
    <content th:replace="fragments/footer :: content"></content>
</div>
<content th:replace="fragments/init :: script"></content>


<script type="text/javascript">
    $('#reservationtime').daterangepicker({
        "timePicker": true,
        "timePicker24Hour": true,
        "timePickerIncrement": 1,
        "format": 'DD/MM/YYYY HH:mm'
    }, function (start, end, label) {
        $('#fromDate').val(start.format('DD/MM/YYYY HH:mm'));
        $('#toDate').val(end.format('DD/MM/YYYY HH:mm'));
    });
</script>
<script type="text/javascript">
    $("#not_found_message").hide().fadeIn(0).delay(1000).fadeOut(500);
    $("#advenSearch").hide();
    $("#btnAdven").click(function(){
        $("#advenSearch").toggle();
    });
</script>

</body>

</html>
