<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <content th:replace="fragments/init :: head"></content>
    <title>Service</title>
    <style>
        #email_errors {
            padding: 11px;
            margin-bottom: 0px;
            margin-top: 15px;
        }

        #not_found_message {
            padding: 11px;
            margin-bottom: 0px;
            margin-top: 15px;
        }

        .btn-add-new {
            margin-top: -7px;
            margin-right: -1px;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }
    </style>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <content th:replace="fragments/menu-bar :: content"></content>
        <content th:replace="fragments/top-nav :: content"></content>
        <div class="right_col" role="main" style="min-height: 100vh">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Tùy chọn tìm kiếm</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <input type="hidden" th:value="@{/}" id="contentPath">
                            <form role="form" th:action="@{/service/list.html}" method="POST">
                                <div class="row">
                                    <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-6">
                                        <label>Name</label>
                                        <div>
                                            <input class="form-control" id="strName" name="strName" type="text" th:value="${name}">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-6">
                                        <label>Status</label>
                                        <div>
                                            <select class="form-control selectpicker" name="strStt" id="strStt">
                                                <option value="">Tất cả</option>
                                                <option value="1">Active</option>
                                                <option value="0">InActive</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-6">
                                        <label>&nbsp;</label>
                                        <div>
                                            <button type="submit" id="btnSearch" class="btn btn-primary">Tìm kiếm
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- End form -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Danh sách service</h2>
                            <div class="pull-right btn-add-new">
                                <a th:href="@{/service/add.html}" data-toggle="tooltip" title="Thêm Mới"
                                   class=" btn btn-submit "><i class="fa fa-plus"></i>Thêm Mới</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="x_content">
                            <div>
                                <table class="table table-responsive table-striped table-bordered table-hover" id="myTable">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>Ngày tạo</th>
                                        <th>Người tạo</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="${result} != null">
                                    <tr th:each="one, iterStat : ${result}">
                                        <td data-title="Stt" th:text="${iterStat.count}"></td>
                                        <td th:text="${one.serviceName}"></td>
                                        <td th:text="${one.serviceDescription}"></td>
                                        <td th:if="${one.serviceStatus eq '1'}"><button class="btn btn-success">Active</button></td>
                                        <td th:if="${one.serviceStatus eq '0'}"><button class="btn btn-danger">InActive</button></td>
                                        <td th:text="${#calendars.format(one.createDatetime,'yyyy/MM/dd HH:mm:ss')}"></td>
                                        <td th:text="${one.createUser}"></td>
                                        <td class="text-center" data-title="Sửa">
                                            <a th:href="@{/service/{id}/update.html(id=${one.serviceId})}"
                                               data-toggle="tooltip" title="Chỉnh Sửa">
                                                <button class="btn btn-info btn-circle"><i class="fa fa-edit"></i>
                                                </button>
                                            </a>
                                        </td>
                                        <td class="text-center" data-title="Xóa">
                                            <a data-toggle="tooltip" title="Xóa Bỏ" type="button" class="btn btn-warning btn-circle"
                                               th:onclick="'deleteConfirm(\'' +${one.serviceName}+ '\','+${one.serviceId}+');'"><i
                                                    class="glyphicon glyphicon-trash"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div id="hidSTT" th:text="${status}" hidden="true"></div>
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <content th:replace="fragments/footer :: content"></content>
</div>
<content th:replace="fragments/init :: script"></content>

<script th:inline="javascript">
    $('#strStt').val($('#hidSTT').html()).change();
    var contentPath = $('#contentPath').val();
    $('#myTable').dataTable();
    $("#not_found_message").hide().fadeIn(0).delay(1000).fadeOut(500);
</script>

<script type="text/javascript">
    function deleteConfirm(name,id) {
        BootstrapDialog.show({
            title: 'Xác Nhận xóa Tài Nguyên',
            message: 'Bạn có chắc chắn muốn xóa dịch vụ ' + name + ' không ? Bấm Delete để xác nhận.',
            buttons: [{
                label: 'Bỏ qua',
                action: function (dialogItself) {
                    dialogItself.close();
                }
            }, {
                label: 'Delete',
                cssClass: 'btn-primary',
                action: function (dialogItself) {
                    $.ajax({
                        type: 'GET',
                        url: './delete.json',
                        dataType: "json",
                        data: {id: id},
                        success: function (msg) {
                            dialogItself.close();
                            location.reload(true);
                        },
                        error: function (request, status, error) {
                            console.log(error);
                        }
                    });
                }
            }]
        });
    }
</script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>

</html>
