<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Audit</title>
    <content th:replace="fragments/init :: head"></content>
    <style>
        #not_found_message {
            padding: 11px;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }
    </style>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <content th:replace="fragments/menu-bar :: content"></content>
        <content th:replace="fragments/top-nav :: content"></content>
        <div class="right_col" role="main" style="min-height: 100vh">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Tùy chọn tìm kiếm</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form role="form" th:action="@{/audit/list.html}" method="GET">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-12 col-sm-4 col-xs-12">
                                        <label>Từ ngày - đến ngày</label>
                                        <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon"><i
                                            class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                            <input type="text" name="fromDate" id="fromDate" hidden="true" th:value="${fromDate}"/>
                                            <input type="text" name="toDate" id="toDate" hidden="true" th:value="${toDate}"/>
                                            <input type="text" style="width: 100%" name="date_range" id="reservationtime" class="form-control span4"
                                                   value="08/01/2013 - 08/01/2013" th:value="${fromDate} + ' - ' + ${toDate}" readonly="readonly"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-3">
                                        <label>userName</label>
                                        <div>
                                            <input class="form-control" id="userName" name="userName" type="text" th:value="${userName}">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-3">
                                        <label>userAction</label>
                                        <div>
                                            <input class="form-control" id="userAction" name="userAction" type="text" th:value="${userAction}">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-3">
                                        <label>Object</label>
                                        <div>
                                            <input class="form-control" id="obj" name="obj" type="text" th:value="${_object}">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-3">
                                        <label>&nbsp;</label>
                                        <div>
                                            <button type="submit" id="btnSearch" class="btn btn-primary">Tìm kiếm
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-danger" id="not_found_message"
                         th:if="${not #strings.isEmpty(not_found_message)}" th:text="${not_found_message}" style="color: white">
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Danh sách</h2>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="x_content">
                            <div style="overflow-x:auto;">
                                <table class="table table-striped table-bordered table-hover dataTable">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Action</th>
                                        <th>Object</th>
                                        <th>Detail</th>
                                        <th>Date action</th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="${page.getContent()}!=null">
                                    <tr th:each="one, iterStat : ${page}">
                                        <td th:text="${iterStat.count}"></td>
                                        <td th:text="${one.userName}"></td>
                                        <td th:text="${one.userAction}"></td>
                                        <td th:text="${one.object}"></td>
                                        <td th:text="${one.detail}"></td>
                                        <td th:text="${#calendars.format(one.rpActionAuditPK.actionDatetime,'yyyy/MM/dd HH:mm:ss')}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <content th:replace="fragments/panigator :: content(page = ${page})"></content>

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
        </div>
    </div>
    <content th:replace="fragments/footer :: content"></content>
</div>
<content th:replace="fragments/init :: script"></content>


<script type="text/javascript">
    $('#reservationtime').daterangepicker({
        "timePicker": true,
        "timePicker24Hour": true,
        "timePickerIncrement": 1,
        "format": 'DD/MM/YYYY HH:mm'
    }, function (start, end, label) {
        $('#fromDate').val(start.format('DD/MM/YYYY HH:mm'));
        $('#toDate').val(end.format('DD/MM/YYYY HH:mm'));
    });

    function deleteConfirm(name,id) {
        BootstrapDialog.show({
            title: 'Xác Nhận xóa tin nhắn',
            message: 'Bạn có chắc chắn muốn xóa tin nhắn ' + name + ' không ? Bấm Delete để xác nhận.',
            buttons: [{
                label: 'Bỏ qua',
                action: function (dialogItself) {
                    dialogItself.close();
                }
            }, {
                label: 'Delete',
                cssClass: 'btn-primary',
                action: function (dialogItself) {
                    $.ajax({
                        type: 'GET',
                        url: './delete.json',
                        dataType: "json",
                        data: {id: id},
                        success: function (msg) {
                            dialogItself.close();
                        },
                        error: function (request, status, error) {
                            console.log(error);
                        }
                    });
                }
            }]
        });
    }

    $("#not_found_message").hide().fadeIn(0).delay(1000).fadeOut(500);
</script>

</body>

</html>
