<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Message</title>
    <content th:replace="fragments/init :: head"></content>
    <style>
        #errorMessage {
            padding: 11px;
        }

        .btn-submit-form {
            margin-left: 35.5%;
        }
    </style>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <content th:replace="fragments/menu-bar :: content"></content>
        <content th:replace="fragments/top-nav :: content"></content>
        <div class="right_col" role="main" style="min-height: 100vh">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Thêm mới tin nhắn </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form th:action="@{/message/add.html}" method="POST">
                                <div class="col-lg-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <div>
                                            <input class="form-control" type="text"  name="strName" required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Content</label>
                                        <div>
                                            <input class="form-control" type="text"  name="strContent" required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <div>
                                            <input class="form-control" type="text"  name="strDes" required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Status</label>
                                        <div>
                                            <select class="form-control selectpicker" name="strStt">
                                                <option value="1">Active</option>
                                                <option value="0">InActive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 btn-submit-form">
                                    <button type="submit" class="btn btn-info">Thêm mới</button>
                                    <a th:href="@{/message/list.html}" class="btn btn-warning">Bỏ qua</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.col-lg-6 -->
        </div>
    </div>
    <content th:replace="fragments/footer :: content"></content>
</div>
<content th:replace="fragments/init :: script"></content>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            defaultDate: new Date(),
            format: 'DD/MM/YYYY HH:mm'
        });
    });
</script>
</body>

</html>
