<content th:fragment="content" th:remove="tag">
    <footer>
        <div class="text-center">
            Copyright © 2019 RatePlus™
        </div>
        <div class="clearfix"></div>
    </footer>
</content>
