<content th:fragment="head" th:remove="tag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" type="image/png" th:href="@{/resources/image/rate-favicon.png}"/>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" th:href="@{/resources/gentelella-master/bootstrap/dist/css/bootstrap.min.css}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{/resources/gentelella-master/font-awesome/css/font-awesome.min.css}"/>
    <!-- NProgress -->
    <link rel="stylesheet" th:href="@{/resources/gentelella-master/nprogress/nprogress.min.css}"/>
    <!-- Custom styling plus plugins -->
    <link rel="stylesheet" th:href="@{/resources/gentelella-master/build/css/custom.min.css}"/>

    <!--<link rel="stylesheet" th:href="@{/resources/sb-admin-v2/css/bootstrap.min.css"/>-->
    <link rel="stylesheet"
          th:href="@{/resources/gentelella-master/bootstrap-daterangepicker/daterangepicker-bs3.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/gentelella-master/morris/morris-0.4.3.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/gentelella-master/bootstrap-select/bootstrap-select.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/sb-admin-v2/css/responsive-custom.css}"/>
    <link rel="stylesheet" th:href="@{/resources/sb-admin-v2/css/plugins/timeline/timeline.css}"/>
    <link th:href="@{/resources/export_excel/waitMe.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}">
</content>


<!--init script-->
<content th:fragment="script" th:remove="tag">
    <script th:src="@{/resources/gentelella-master/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/resources/gentelella-master/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/sb-admin-v2/js/bootstrap-switch.js}"></script>
    <script th:src="@{/resources/bootstrap3-dialog/dist/js/bootstrap-dialog.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/resources/sb-admin-v2/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/resources/gentelella-master/fastclick/lib/fastclick.min.js}"></script>
    <!-- NProgress -->
    <script th:src="@{/resources/gentelella-master/nprogress/nprogress.min.js}"></script>
    <!-- FullCalendar -->
    <!-- Custom Theme Scripts -->
    <script type="text/javascript" th:src="@{/resources/gentelella-master/build/js/custom.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/gentelella-master/morris/raphael-2.1.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/gentelella-master/morris/morris.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/resources/gentelella-master/dataTables/jquery.dataTables.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/resources/gentelella-master/dataTables/dataTables.bootstrap.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/resources/gentelella-master/bootstrap-daterangepicker/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/bootstrap-daterangepicker/moment.js}"></script>
    <script type="text/javascript"
            th:src="@{/resources/gentelella-master/bootstrap-daterangepicker/daterangepicker.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/resources/gentelella-master/bootstrap-select/bootstrap-select.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/export_excel/excellentexport.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript">
        var panigator = (function () {
            var goToPageUrl = function (page) {
                var curUrl = window.location.href;
                var returnUrl;
                console.log(page);
                if (curUrl.indexOf('?') == -1) {
                    returnUrl = curUrl += '?page=' + page;
                } else if (curUrl.indexOf('?page=') != -1) {
                    returnUrl = curUrl.replace(/\?page=([^&]*)/, '?page=' + page);
                } else if (curUrl.indexOf('&page=') != -1) {
                    returnUrl = curUrl.replace(/&page=[^&]*/, '&page=' + page);
                } else {
                    returnUrl = curUrl += '&page=' + page;
                }
                window.location.href = returnUrl;
            }
            return {
                'goToPageUrl': goToPageUrl
            }
        })()
    </script>

    <script type="text/javascript">
        // Custom datatable show hide column by ThanhPV, ai có time thì chuyển code vào file custom.js nhé!
        function showHideDataTableColumn(data_table, colum_index_list) {
            var $table = $(data_table.get(0));
            var table_position = $table.offset();
            var $table_parent = $table.parent();
            var top_position = table_position.top;
            var right_position = $(window).outerWidth() - $table_parent.offset().left - $table_parent.outerWidth();
            var $body = $('body');
            var tbl_api = data_table.api();
            var table_id = $table.attr('id');
            var hidden_class = 'hidden';
            var btn_show_hide_id = table_id + '-show-hide-column-btn';
            var content_show_hide_id = table_id + '-show-hide-column-content';
            var div_btn_show_hide_column =
                `<div id="${btn_show_hide_id}" class="div-btn-show-hide-column" style="position: absolute;
                user-select:none; top: ${top_position}px;right: calc(${right_position}px - 2rem);
                border: 1px solid #cfcbcb;border-radius: 2px;display: flex;cursor: pointer;"  title="Ẩn/hiện cột">
                <svg style="height: 1.8rem;fill: #474747;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" x="0px" y="0px">
                <path d="m38 84c-1 0-2-.4-2.8-1.2-1.6-1.6-1.6-4.1 0-5.7l27.1-27.1-27.1-27.2c-1.6-1.6-1.6-4.1 0-5.7s4.1-1.6 5.7 0l30 30c.8.8 1.2 1.8 1.2 2.8 0 1.1-.4 2.1-1.2 2.8l-30 30c-.9.9-1.9 1.3-2.9 1.3z"/>
                </svg>
            </div>
            `;

            var div_content_show_hide_column = '<div id="' + content_show_hide_id +
                '" class="div-content-show-hide-column ' + hidden_class + '" style="box-shadow: 0 1px 5px 0 ' +
                'rgba(0, 0, 0, 0.08),0 2px 2px 0 rgba(0, 0, 0, 0),0 3px 1px -2px rgba(0, 0, 0, 0.02);' +
                'display: inline-block;position: absolute;top:' + top_position + 'px; right:' + right_position + 'px;' +
                'padding: 10px 15px;border: 1px solid #c2c2c2;border-radius: 5px; background: #fcfcfc">' +
                '<ul style="list-style: none; display: inline-block; padding: 0!important; margin: 0!important">';
            var before_column_id = table_id + '_column_expand_';
            for (var index of colum_index_list) {
                var cur_column = tbl_api.column(index);
                cur_column.visible(false);
                var title = cur_column.header().innerText;
                var input_id = `${before_column_id}${index}`;
                div_content_show_hide_column += `<li><input type="checkbox" id="${input_id}" style="margin-right: 10px;"/>
                    <label style="user-select:none;" for="${input_id}" data-colum-index="${index}">${title}</label></li>`;
            }
            div_content_show_hide_column += '</ul></div>';
            $body.append(div_btn_show_hide_column + div_content_show_hide_column);
            $(`[id *= ${before_column_id}]`).each(function (index) {
                $(this).on('click', function () {
                    var cur_column = tbl_api.column(colum_index_list[index]);
                    cur_column.visible(!cur_column.visible());
                });
            });

            $('#' + btn_show_hide_id).on('click', function () {
                $('#' + content_show_hide_id).toggleClass(hidden_class);
                return false;
            });

            $('#' + content_show_hide_id).on('click', function (e) {
                e.stopPropagation();
            });
        }

        $(window).on('click', function () {
            $('.div-content-show-hide-column').each(function () {
                $(this).addClass('hidden');
            });
        });
    </script>
</content>


