<content th:fragment="content" th:remove="tag">
    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a th:href="@{/report/dashboard.html}" class="site_title">
                    <span><img th:src="@{/resources/image/rate-logo-final-02.png}" class="profile_img" height="100%" width="90%"/></span></a>
            </div>
            <div class="clearfix"></div>
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <ul class="nav side-menu">

                        <!--<li sec:authorize="hasAnyAuthority('Administrators','Managers')">
                            <a><i class="fa fa-group"></i> Dashboard <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a th:href="@{/report/dashboard.html}">Thống kê chung</a></li>
                            </ul>
                        </li>-->

                        <li sec:authorize="hasAnyAuthority('Administrators')">
                            <a th:href="@{/res/list.html}"><i class="fa fa-cogs"></i>Tài nguyên</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('Administrators')">
                            <a th:href="@{/service/list.html}"><i class="fa fa-bar-chart-o"></i>Dịch vụ</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('Administrators')">
                            <a th:href="@{/organization/list.html}"><i class="fa fa-bank"></i>Tổ chức</a>
                        </li>
                        <!--<li sec:authorize="hasAnyAuthority('Administrators','Managers')">
                            <a th:href="@{/product/list.html}"><i class="fa fa-product-hunt"></i>Sản phẩm</a>
                        </li>-->
                        <li sec:authorize="hasAnyAuthority('Administrators')">
                            <a th:href="@{/message/list.html}"><i class="fa fa-envelope"></i>Tin nhắn</a>
                        </li>
                        <!--<li sec:authorize="hasAnyAuthority('Administrators','Managers')">
                            <a th:href="@{/#.html}"><i class="fa fa-bookmark"></i>Hệ thống</a>
                        </li>-->
                        <li sec:authorize="hasAnyAuthority('Administrators')">
                            <a><i class="fa fa-info-circle"></i>Tra cứu<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li>
                                    <a th:href="@{/audit/list.html}">Tác động HT</a>
                                </li>
                                <li><a th:href="@{/report/daily_result.html}">Chiến dịch</a></li>
                            </ul>
                        </li>
                        <li sec:authorize="hasAnyAuthority('Administrators','Users')">
                            <a><i class="fa fa-info"></i>Báo cáo<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <!--<li>
                                    <a>MBF<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a th:href="@{/report/mbf/doisoat_chitiet.html}">ĐS chi tiết</a>
                                        </li>
                                        <li>
                                            <a th:href="@{/report/mbf/doisoat_tonghop.html}">ĐS tổng hợp</a>
                                        </li>
                                    </ul>
                                </li>-->
                                <li>
                                    <a th:href="@{/report/doisoat_chitiet.html}">ĐS chi tiết</a>
                                </li>
                                <li>
                                    <a th:href="@{/report/doisoat_tonghop.html}">ĐS tổng hợp</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-user"></i>Tài khoản<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li sec:authorize="hasAnyAuthority('Administrators')">
                                    <a th:href="@{/users/user_list.html}">Danh sách tài khoản</a>
                                </li>
                                <li><a th:href="@{/users/change_password.html}">Đổi mật khẩu</a></li>
                                <li><a th:href="@{/logout.html}">Đăng xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /sidebar menu -->
        </div>
    </div>
</content>
