<content th:fragment="content" th:remove="tag">
    <div class="top_nav">
        <div class="nav_menu">
            <nav>
                <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img th:src="@{/resources/image/user-icon.png}" alt=""/><span th:text="${session.username}"></span>
                            <span class=" fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                            <li><a th:href="@{/account/change_password.html}">Đổi mật khẩu</a></li>
                            <li><a th:href="@{/logout.html}"><i class="fa fa-sign-out pull-right"></i>Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</content>