<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <content th:replace="fragments/init :: head"></content>
    <title>Account</title>
    <style>
        #email_errors {
            padding: 11px;
            margin-bottom: 0px;
            margin-top: 15px;
        }

        #not_found_message {
            padding: 11px;
            margin-bottom: 0px;
            margin-top: 15px;
        }

        .btn-add-new {
            margin-top: -7px;
            margin-right: -1px;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }
    </style>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <content th:replace="fragments/menu-bar :: content"></content>
        <content th:replace="fragments/top-nav :: content"></content>
        <div class="right_col" role="main" style="min-height: 100vh">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Tùy chọn tìm kiếm</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <input type="hidden" name="user_list_ss" th:value="${user_list_ss}"/>
                            <input type="hidden" th:value="@{/}" id="contentPath">
                            <form role="form" th:object="${userSearchingForm}" th:action="@{/users/user_list.html}"
                                  method="POST">
                                <div class="row">
                                    <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-6">
                                        <label>User Name</label>
                                        <div>
                                            <input class="form-control" id="txtUserName" name="userName" type="text" placeholder="User name" th:value="*{userName}">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-6">
                                        <label>Email</label>
                                        <div>
                                            <input class="form-control" id="txtEmail" name="email" type="text" placeholder="email" th:value="*{email}">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-6">
                                        <label>&nbsp;</label>
                                        <div>
                                            <button type="submit" id="btnSearch" class="btn btn-primary">Tìm kiếm
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert alert-danger" id="email_errors" th:each="err: ${#fields.errors('*')}" th:text="${err}" style="color: white">
                                </div>
                                <div class="alert alert-danger" id="not_found_message"
                                     th:if="${not #strings.isEmpty(not_found_message)}" th:text="${not_found_message}" style="color: white">
                                </div>
                            </form>
                            <!-- End form -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Danh sách user account</h2>
                            <div class="pull-right btn-add-new">
                                <a th:href="@{/users/user_add.html}" data-toggle="tooltip" title="Thêm Mới"
                                   class=" btn btn-submit "><i class="fa fa-plus"></i>Thêm Mới</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="x_content">
                            <div>
                                <table class="table table-responsive table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>User name</th>
                                        <th>Tên đầy đủ</th>
                                        <th>Email</th>
                                        <th>Trạng thái Account</th>
                                        <th>Loại Account</th>
                                        <th>Ngày tạo</th>
                                        <th>#</th>
                                        <th>#</th>
                                        <th>#</th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="${page.content} != null">
                                    <tr th:each="eachRow, iterStat : ${page.content}">
                                        <td data-title="Stt" th:text="${iterStat.count}"></td>
                                        <td data-title="Username" th:text="${eachRow.userName}"></td>
                                        <td data-title="Fullname" th:text="${eachRow.fullName}"></td>
                                        <td data-title="Email" th:text="${eachRow.email}"></td>
                                        <td data-title="Status" th:text="${user_status.get(eachRow.status)}"></td>
                                        <td data-title="usertype" th:text="${user_types.get(eachRow.userType)}"></td>
                                        <td data-title="Ngày tạo"
                                            th:text="${#dates.format(eachRow.createdDate, 'dd/MM/yyyy')}">
                                        </td>

                                        <td class="text-center" data-title="Sửa">
                                            <a th:href="@{/users/update/{id}/user_update.html(id=${eachRow.id})}"
                                               data-toggle="tooltip" title="Chỉnh Sửa">
                                                <button class="btn btn-info btn-circle"><i class="fa fa-edit"></i>
                                                </button>
                                            </a>
                                        </td>
                                        <td class="text-center" data-title="Xóa">
                                            <a data-toggle="tooltip" title="Xóa Bỏ" type="button" class="btn btn-warning btn-circle"
                                               th:onclick="'deleteConfirm(\'' +${eachRow.userName}+ '\');'"><i
                                                    class="glyphicon glyphicon-trash"></i></a>
                                        </td>

                                        <td class="text-center" data-title="Reset">
                                            <a th:onclick="'resetPasswordConfirm(\'' + ${eachRow.userName} + '\');'"
                                               data-toggle="tooltip" title="Reset Password">
                                                <button class="btn btn-info btn-circle"><i class="fa fa-refresh"></i>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <content th:replace="fragments/panigator :: content(page = ${page})"></content>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <content th:replace="fragments/footer :: content"></content>
</div>
<content th:replace="fragments/init :: script"></content>

<script th:inline="javascript">
    var contentPath = $('#contentPath').val();
</script>

<script type="text/javascript">
    function deleteConfirm(key) {
        BootstrapDialog.show({
            title: 'Xác Nhận xóa Tài Khoản',
            message: 'Bạn có chắc chắn muốn xóa Tài khoản có userName là ' + key + ' không ? Bấm Delete để xác nhận.',
            buttons: [{
                label: 'Bỏ qua',
                action: function (dialogItself) {
                    dialogItself.close();
                }
            }, {
                label: 'Delete',
                cssClass: 'btn-primary',
                action: function (dialogItself) {
                    window.location.href = contentPath + 'account/delete/' + key + '/user_list.html';
                }
            }]
        });
    }
</script>

<script type="text/javascript">
    function resetPasswordConfirm(key) {
        BootstrapDialog.show({
            title: 'Xác Nhận Reset mật khẩu Tài Khoản',
            message: 'Bạn có chắc chắn muốn thiêt lập lại mật khẩu Tài khoản có userName là ' + key + ' về mật khẩu mặc định không ? Bấm Reset để xách nhận.',
            buttons: [{
                label: 'Bỏ qua',
                action: function (dialogItself) {
                    dialogItself.close();
                }
            }, {
                label: 'Reset',
                cssClass: 'btn-primary',
                action: function (dialogItself) {
                    window.location.href = contentPath + 'users/reset/' + key + '/user_list.html';
                }
            }]
        });
    }
</script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script type="text/javascript">
    $("#email_errors").hide().fadeIn(0).delay(1000).fadeOut(500);
    $("#not_found_message").hide().fadeIn(0).delay(1000).fadeOut(500);
</script>
</body>

</html>
