<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Cập nhật tài khoản</title>
    <content th:replace="fragments/init :: head"></content>
    <style>
        #errorMessage {
            padding: 11px;
        }

        .btn-submit-form {
            margin-left: 42%;
        }
    </style>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <content th:replace="fragments/menu-bar :: content"></content>
        <content th:replace="fragments/top-nav :: content"></content>
        <div class="right_col" role="main" style="min-height: 100vh">

            <div class="row">
                <div class="col-lg-12">
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Cập nhật tài khoản - <span style="color: red" th:text="*{user.userName}"></span></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form th:object="${user}" th:action="@{/users/update/{id}/user_update.html(id=${user.id})}" method="POST">
                                <div class="alert alert-danger" id="errorMessage"
                                     style="text-align:left; color: white; font-weight: bold; font-size: 13px;" th:each="err: ${#fields.errors('*')}" th:text="${err}"></div>
                                <input type="hidden" name="user_id" id="user_id" th:value="*{id}"/>
                                <div class="col-lg-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Họ</label>
                                        <div>
                                            <input class="form-control" type="text" id="form-field-firstname" th:field="*{firstName}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Tên đệm</label>
                                        <div>
                                            <input class="form-control" type="text" id="form-field-middlename" th:field="*{middleName}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Tên</label>
                                        <div>
                                            <input class="form-control" type="text" id="form-field-lastname" th:field="*{lastName}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Giới tính</label>
                                        <div>
                                            <select class="form-control selectpicker" id="form-field-gender" th:field="*{gender}">
                                                <option value="1">Nam</option>
                                                <option value="0">Nữ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <div>
                                            <input class="form-control" type="text" id="form-field-email" th:field="*{email}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Tên đăng nhập</label>
                                        <div>
                                            <input class="form-control" type="text" id="form-field-username" th:field="*{userName}"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Xác minh tài khoản</label>
                                        <div>
                                            <select class="form-control selectpicker" id="form-field-verify" th:field="*{isVerified}">
                                                <option value="1">Đã xác minh</option>
                                                <option value="0">Chưa xác minh</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Trạng thái</label>
                                        <div>
                                            <select class="form-control selectpicker" id="form-field-status" th:field="*{status}">
                                                <option value="0">Block</option>
                                                <option value="1">Active</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Loại tài khoản</label>
                                        <div>
                                            <select class="form-control selectpicker" id="form-field-userType" th:field="*{userType}">
                                                <option value="1">Rate</option>
                                                <option value="0">Partner</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" id="selectOrg">
                                        <label>Tổ chức</label>
                                        <div>
                                            <select class="form-control selectpicker" name="orgId" id="orgId">
                                                <option th:each="choice : ${allOrg}"
                                                        th:value="${choice.orgId}"
                                                        th:text="${choice.orgName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Phân quyền Role</label>
                                        <div>
                                            <label th:each="role : ${allRoles}" th:title="${role.description}">
                                                <input th:field="*{roles}" type="checkbox" th:value="${role.id}" style="position: inherit;opacity: 0.5;" class="check_role"/>
                                                <span class="lbl" th:text="${role.name}"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 btn-submit-form">
                                        <button type="submit" class="btn btn-info">Cập nhật</button>
                                        <a th:href="@{/users/user_list.html?page={pageIdx}(pageIdx=${session.pageIndex})}" class="btn btn-warning">Bỏ qua</a>
                                </div>
                            </form>
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <content th:replace="fragments/footer :: content"></content>
</div>
<content th:replace="fragments/init :: script"></content>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            defaultDate: new Date(),
            format: 'DD/MM/YYYY HH:mm'
        });
        if($('#form-field-userType :selected').val() == 1) {
            $('#selectOrg').hide();
        } else {
            $('#selectOrg').show();
        }
    });
</script>
<script type="text/javascript">
    $('.check_role').on('change', function() {
        $('.check_role').not(this).prop('checked', false);
    });
    $('#form-field-userType').on('change', function() {
        if($('#form-field-userType :selected').val() == 1) {
            $('#selectOrg').hide();
        } else {
            $('#selectOrg').show();
        }
    });
</script>

<script type="text/javascript">
    $("#errorMessage").hide().fadeIn(0).delay(1500).fadeOut(700);
</script>
</body>

</html>
